<footer class="bg-dark p-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="text-light">También puedes contactarme</h3>
                <p class="text-light">Si tienes alguna pregunta o estás interesado en trabajar conmigo, no dudes en contactarme a través de mis redes sociales.</p>
            </div>
            <div class="col-md-6">
                <h3 class="text-light mb-4 text-end">REDES SOCIALES</h3>
                <div class="d-flex justify-content-end flex-wrap">
                    <a href="#" class="social-icon me-3"><i class="fab fa-facebook fa-3x text-light"></i></a>
                    <a href="#" class="social-icon me-3"><i class="fab fa-whatsapp fa-3x text-light"></i></a>
                    <a href="#" class="social-icon me-3"><i class="fab fa-twitter fa-3x text-light"></i></a>
                    <a href="#" class="social-icon me-3"><i class="fab fa-instagram fa-3x text-light"></i></a>
                </div>
            </div>
        </div>
        
        
        <hr class="bg-light mt-4">
        <div class="row mt-3">
            <div class="col-md-6">
                <p class="text-secondary"><i class="fa-solid fa-copyright"> 2024 Todos los derechos resevados.</i></p>
                
            </div>
            <div class="col-md-6">
                <p class="text-end text-secondary">Creada por: Natanael Sosa</p>

            </div>

        </div>
    </div>
</footer>
