<nav class= 'navbar navbar-expand-lg navbar-dark bg-dark '>
    <div class="container-fuid">
        <div class="d-flex navbar-brand">
            <h1 class = "fs-4">Natanael</h1>
    </div>


    <button class = "navbar-toggler" type="button" data-bs-toggles="collapse" data-bs-toggle="collapse" data-bs-target="#navbarNav" arie-controls='navbrNav' aria-expanded = 'false' aria-label = "Toggle navigation">
        <span class = "navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-toggler-collapse" id ="navbarNav">
       <ul class="navbar-nav ms-auto"

    </nav>