{% extends "base.html"%}

{% block title %} Email envdiado {% endblock title %}

{% block content%}
<div class="container my-5">
    <div class="col-md-8 col-lg-6">
        <div class = "card border-success">
            <div class="card-body">
                <h2 class="card-title text-center mb-4"><i class="fas facheck-circle text-sucess"></i>Correo Enviado! </h2>
                <p class="card-text text-center">Tu mesaje a sido enviado correctamente.</p>
                <a href="{{ url_for('index')}}" class ="btn btn-success d-block mx-auto mt-4"><i class="fas fa-home"></i>Volver a inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock content%}